{# source/serialcom/templates/serialcom/index.html #}
<!DOCTYPE html>
<html>
<head>
	<title>SerialCOM</title>
</head>
<body>
	<h1>Serial/COM</h1>

	<form action="" method="POST">
		<div>
			<label>Serial/COM:</label>
			<select name="device_select" id="device_select">
				<option>Select one Device</option>
			{% for device in serial.devices	%}
				<option>{{ device }}</option>
			{% endfor	%}
			</select>

			<label>Baud:</label>
			<input type="text" name="baud" id="baud"
			       value="9600"/>
			<br/>

			<input type="checkbox" name="advance"
			       value="advance">Advance
			<input type="submit" name="connect"
			       id="connect" value="Connect"/>
		</div>
		{% csrf_token %}
	</form>
	<br/>
	<form>
		<div>
			<select>
				<option>串口助手模式</option>
				<option>Console 模式</option>
			</select>
		</div>
		<div>
			<textarea name="serialinteract"
			       rows="10" cols="30">
			</textarea>
			<br/>
			<input type="text" name="ser_tx">
			<input type="button" name="tx_send" value="SEND"/>
		</div>

		{% csrf_token %}
	</form>
</body>
</html>
